services:
    frontend:
        build: .
        container_name: news-frontend
        ports:
            - '3000:3000'
        env_file:
            - .env
        environment:
            - CHOKIDAR_USEPOLLING=true
        volumes:
            - .:/app
            - /app/node_modules
        restart: unless-stopped
